.gradle/
.idea/
.kotlin/
**/build/
!**/src/**/build/
!**/src/**/build/**
local.properties
*.jks
*.keystore
sign.properties
/releases/
.migration-backup/
!protocol/*.aar
!gradle/wrapper/gradle-wrapper.jar
