.gradle/
.idea/
.kotlin/
__pycache__/
**/build/
!**/src/**/build/
!**/src/**/build/**
local.properties
*.jks
*.keystore
sign.properties
/releases/
/app/release/
.migration-backup/
!protocol/*.aar
!gradle/wrapper/gradle-wrapper.jar

/sign.properties

/local.properties

*.pre-platform-versions.bak

/app/releases/
