<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="org.autojs.permission.PLUGIN" />

    <queries>
        <package android:name="org.autojs.autojs6" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <meta-data android:name="org.autojs.plugin.WAKE_ACTIVITY" android:value="org.autojs.plugin.jvmsource.kotlin.WakeActivity" />
        <activity
            android:name="org.autojs.plugin.jvmsource.kotlin.WakeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="org.autojs.plugin.action.WAKE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="org.autojs.plugin.contract.NATIVE_PAGE_ALIGNMENT"
            android:value="0" />

        <meta-data
            android:name="org.autojs.plugin.info.AUTHOR"
            android:value="@string/plugin_author" />

        <service
            android:name="org.autojs.plugin.jvmsource.kotlin.service.JavaPluginInfoService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:process=":discovery">

            <intent-filter>
                <action android:name="org.autojs.plugin.INFO" />
            <category android:name="kotlin-runtime" />
            </intent-filter>

            <meta-data
                android:name="requiresHostVersion"
                android:value="@string/plugin_requires_host_version" />
        </service>

        <service
            android:name="org.autojs.plugin.jvmsource.kotlin.service.JavaSourceCompilerService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:process=":compiler">

            <intent-filter>
                <action android:name="org.autojs.plugin.JVM_SOURCE" />
            </intent-filter>

            <meta-data
                android:name="org.autojs.plugin.JVM_SOURCE_LANGUAGE"
                android:value="kotlin" />

            <meta-data
                android:name="requiresHostVersion"
                android:value="@string/plugin_requires_host_version" />
        </service>

        <service
            android:name="org.autojs.plugin.jvmsource.kotlin.worker.JavaExecutionWorkerService"
            android:enabled="true"
            android:exported="false"
            android:process=":worker"
            android:stopWithTask="true" />

    </application>
</manifest>
